@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap);

/*============================
RESETS=====================
==============================*/
*,
:after,
:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Enable smooth scrolling for same-page links, effective only for users without preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 1rem; /* Offset for fixed headers or navbars */
  }
}

/* Better readability for text rendering and line-height*/
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

/* Better readability for title line-height */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance; /* Distribute text evenly in headings */
  line-height: 1;
}

/* Improve paragraph readability with controlled text wrapping and width */
p {
  text-wrap: pretty; /* Enhanced wrapping for paragraphs */
  font-size: 15px;
  max-width: 60ch; /* Max width based on character count for optimal reading */
}

/* Remove default list styling */
ol,
ul {
  list-style: none;
}

/* Improve media defaults */
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
button,
input,
select,
textarea {
  color: inherit;
  font: inherit;
}

/* Improved focus styles */
a,
button {
  color: inherit;
}

/* Links reset */
a {
  text-decoration: none;
}

/* Anything that is intuitive to be clicked, make the cursor pointer */
button,
input[type="checkbox"],
input[type="date"]::-webkit-calendar-picker-indicator,
select {
  cursor: pointer;
}

/*============================
GENERAL LAYOUT AND STYLES==
==============================*/
body {
  background: var(--body-background-color);
  color: var(--text-color);
  cursor: none;
  font-family: Poppins, sans-serif;
}

/* Website styles for light-mode theme */
body.light-mode {
  --text-color: var(--light-mode-text-color);
  --button-text-color: var(--light-mode-button-text-color);
  --button-background-color: var(--light-mode-button-color);
  --body-background-color: var(--light-mode-body-background-color);
  --striking-color: var(--light-mode-striking-color);
  --selection-color: var(--light-mode-selection-color);
}

/* Container for all main sections */
.container {
  margin: 0 auto;
  width: 85%;
}

::selection {
  background-color: var(--selection-color);
  color: var(--light-mode-text-color);
}

:root {
  /* Hamburger-menu variables */
  --hamburger-wrapper-width: 3em; /* ONLY NEED TO CHANGE WRAPPER HEIGHT AND WIDTH */
  --hamburger-wrapper-height: 3em;
  --icon-width: calc(var(--hamburger-wrapper-width) * 0.6);
  --icon-height: calc(var(--hamburger-wrapper-height) * 0.5);
  --hamburger-icon-span-height: calc(var(--hamburger-wrapper-height) * 0.07);
  --hamburger-icon-span-border-radius: calc(
    var(--hamburger-wrapper-height) * 0.1
  );
  --hamburger-wrapper-span1-translateY: calc(
    var(--hamburger-wrapper-height) * 0.19
  );
  --hamburger-wrapper-span3-bottom: calc(
    var(--hamburger-wrapper-height) * 0.23
  );
  --hamburger-wrapper-border-radius: calc(
    var(--hamburger-wrapper-height) * 0.2
  );

  /* Dark-mode colors */
  --text-color: #f5f5f5;
  --button-text-color: #0a0a0a;
  --button-background-color: linear-gradient(90deg, #deffff, #9bffff);
  --body-background-color: linear-gradient(90deg, #0a0a0a, #000032);
  --striking-color: cyan;
  --selection-color: #33ffcc;

  /* Light-mode colors */
  --light-mode-text-color: #0a0a0a;
  --light-mode-button-text-color: #f5f5f5;
  --light-mode-button-color: linear-gradient(90deg, #3b3bff, #005);
  --light-mode-body-background-color: linear-gradient(90deg, #f6ffff, #bdffff);
  --light-mode-striking-color: #0000ab;
  --light-mode-selection-color: #89cfff;

  /* Padding left and right */
  --padding-left-right: 0;
}

/* Call to action styles */
.cta {
  background: var(--button-background-color);
  border-radius: 1em;
  box-shadow:
    0 0 2px var(--striking-color),
    0 0 4px var(--striking-color),
    0 0 8px var(--striking-color),
    0 0 16px var(--striking-color);
  color: var(--button-text-color);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.6em 1.3em;
  transition: all 0.3s;
}

.cta:hover {
  box-shadow:
    0 0 5px var(--striking-color),
    0 0 10px var(--striking-color),
    0 0 20px var(--striking-color),
    0 0 40px var(--striking-color);
  transform: translateY(-5px);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: var(--body-background-color);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--text-color), var(--s));
  border: 3px solid var(--striking-color);
  border-radius: 7px;
}

/* Font-size for all sections font-size */
h2 {
  font-size: 2rem;
}

/* Scroll-watcher */
.scroll-watcher {
  background: var(--striking-color);
  height: 5px;
  left: 0;
  position: fixed;
  top: 0;
  width: 0; /* Initial width set to 0 */
  z-index: 3;
}

/* Add border-top for each section title for aesthetics and a better UX */
.section__title {
  border-top: 1px solid var(--text-color);
  padding-top: 0.5em;
}

/*============================
SPECIFIC LAYOUT AND STYLES=
==============================*/
/*  1- HEADER  */
.header {
  padding: 1.5em var(--padding-left-right) 3em;
}

/* 2- NAV */
.header__nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header__initials {
  font-family:
    Petit Formal Script,
    cursive;
  font-size: 2.5rem;
  font-weight: 700;
}

/* 3- HAMBURGER MENU */
.hamburger-wrapper {
  border-radius: var(--hamburger-wrapper-border-radius);
  cursor: pointer;

  /* To center the hamburger-icon */
  display: flex;
  z-index: 2;
  height: var(--hamburger-wrapper-height);
  width: var(--hamburger-wrapper-width);
}

.hamburger-icon {
  align-items: center;
  display: flex;
  height: var(--icon-height);
  margin: auto;
  transform: rotate(0);
  transition: all 0.5s;
  width: var(--icon-width);
}

.hamburger-wrapper.active .hamburger-icon {
  transform: rotate(315deg);
}

.hamburger-icon span {
  background: var(--striking-color);
  border: 2px solid var(--striking-color);
  border-radius: var(--hamburger-icon-span-border-radius);
  box-shadow:
    0 0 5px var(--striking-color),
    0 0 10px var(--striking-color);
  display: block;
  height: var(--hamburger-icon-span-height);
  position: absolute;
  transition: all 0.3s;
  transition-delay: 0.5s;
}

.hamburger-icon span:first-child {
  left: 0;
  top: 0;
  transform: translateY(0);
  width: 50%;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
  transform: scaleX(1);
  width: 100%;
}

.hamburger-wrapper.active span:first-child {
  transform: translateY(var(--hamburger-wrapper-span1-translateY));
  transition-delay: 0s;
  width: 100%;
}

.hamburger-wrapper.active span:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
  transition-delay: 0s;
}

.hamburger-icon span:nth-child(3) {
  bottom: 0;
  right: 0;
  transform: rotate(0);
  width: 50%;
}

.hamburger-wrapper.active span:nth-child(3) {
  bottom: var(--hamburger-wrapper-span3-bottom);
  transform: rotate(90deg);
  transition-delay: 0s;
  width: 100%;
}

/* 3- NAV-LIST */
.nav__list {
  display: none;
  position: relative;
}

.nav__item {
  font-size: 1.2rem;
}

.nav__item1 {
  margin-top: 3em;
}

.hide,
.show {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  background: var(--body-background-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  inset: 0;
  gap: 4em;
  padding-left: 20%;
  position: fixed;
  width: 100vw;
}

.show {
  animation-name: openMenu;
  z-index: 1;
}

.hide {
  animation-name: closeMenu;
}

@keyframes openMenu {
  0% {
    opacity: 0;
    transform: translateY(-400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeMenu {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-400px);
  }
}

.nav__link {
  position: relative;
  text-transform: uppercase;
  transition: all 0.3s;
  transition: all 0.5s;
}

.nav__link:before {
  border-bottom: 1px solid var(--text-color);
  border-top: 1px solid var(--text-color);
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transform: scaleY(2);
  transition: all 0.5s;
  width: 100%;
}

.nav__link:focus:before,
.nav__link:hover:before {
  opacity: 1;
  transform: scaleY(1);
}

/* DARKMODE/LIGHTMODE TOGGLE */
.theme-toggle {
  background: #789;
  margin-top: 7em;
}

.nav__language,
.theme-toggle {
  border-radius: 10px;
  padding: 0.5em;
  position: absolute;
  right: 8%;
  transition: all 0.2s;
}

.nav__language:hover,
.theme-toggle:hover {
  opacity: 0.5;
}

/* LANGUAGE CHANGE */
.nav__language {
  margin-top: 12em;
}

/* 1- HERO SECTION */
.hero {
  padding: 0.5em var(--padding-left-right) 4em;
}

.hero__title {
  font-size: 2.4rem;
}

.hero__profession {
  margin-top: 0.3em;
}

.hero__name {
  font-weight: 200;
}

.hero__cta {
  margin: 2em 0 4em;
}

.hero__image {
  border-radius: 15px;
  box-shadow: 5px 5px 10px 0 var(--striking-color);
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

/* 1- ABOUT */
.about {
  padding: 4em var(--padding-left-right);
}

/* 2- ABOUT ME */
.about-me__title {
  margin-bottom: 1.5em;
}

.about-me__story {
  margin-bottom: 1em;
}

.about-me__cta {
  gap: 0.4em;
  margin-top: 2em;
  padding: 0.4em 1.1em;
}

.about-me__buttons {
  display: flex;
  gap: 1.5em;
}

/* 1- SKILLS */
.skills {
  padding: 4em var(--padding-left-right);
}

.skills__title {
  margin-bottom: 1.5em;
}

.skills__grid-container {
  display: grid;
  gap: 1.5em;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(8em, 1fr));
}

.skill {
  border: 1px solid var(--text-color);
  counter-increment: section-counter;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  transition: transform 0.3s ease;
}

.skill:after {
  align-self: flex-end;
  content: counter(section-counter);
  font-size: 0.7rem;
  margin-right: 0.4em;
}

.skill:hover {
  transform: scale(1.05);
}

.skill__icon {
  height: 4em;
  margin: 0.5em auto 0;
  opacity: 0.6;
  width: 4em;
}

.skill__name {
  font-size: 1.1rem;
  margin-top: 0.5em;
}

/* 1- PROJECTS */
.projects {
  counter-reset: project-counter;
  padding: 5em var(--padding-left-right) 2em;
}

.projects__title {
  margin-bottom: 2em;
  position: relative;
}

/* PROJECT COMMON STYLES */
.project {
  display: flex;
  flex-direction: column;
  margin: 0 auto 9em;
}

.project__title {
  counter-increment: project-counter;
  font-size: 1.5rem;
  margin-bottom: 0.5em;
}

.project__title:before {
  content: counter(project-counter) ". ";
  font-size: 0.95rem;
  margin-right: 0.5em;
}

.project__description {
  margin-bottom: 2em;
  max-width: 60ch;
}

.project__link {
  text-decoration: underline;
  transition: all 0.3s;
}

.project__link:hover {
  opacity: 0.5;
}

.project__link:after {
  content: " \2197";
}

/* 3- PROJECT-INFO */
.project__info {
  margin: 0 auto 3em;
}

/* 3- PROJECT-IMAGE */
.project__image {
  border-radius: 5px;
  box-shadow: 2px 2px 10px var(--text-color);
  margin: auto;
  max-width: 30em;
  object-fit: cover;
  transition: filter 0.5s ease;
  width: 100%;
}

/* 1- CONTACT */
.contact {
  padding: 2em var(--padding-left-right) 1em;
}

.contact__title {
  margin-bottom: 1.5em;
  position: relative;
}

.contact__summary-title {
  width: 80%;
}

.contact__summary {
  margin-top: 0.7em;
}

/* 2- CONTACT-INFO */
.contact__info {
  margin: 2em 0 3em;
  position: relative;
}

.contact__info-item {
  align-items: center;
  display: flex;
  gap: 1em;
  margin-bottom: 0.5em;
}

.contact__info-image {
  height: 3em;
  transition: all 0.3s;
  width: 3em;
}

.contact__info-email,
.contact__info-phone {
  -webkit-text-fill-color: transparent;
  background: var(--button-background-color);
  -webkit-background-clip: text;
  font-weight: 700;
}

/* 2- CONTACT-SIGNATURE */

/* 3- CONTACT-LINKS */
.contact__signature {
  align-items: center;
  border-top: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}

.contact__links {
  display: flex;
  gap: 0.8em;
}

.contact__links-image {
  height: 2.5em;
  opacity: 1;
  transition: all 0.3s;
  width: 2.5em;
}

.contact__links-image:hover {
  opacity: 0.5;
}

/*============================
MEDIA QUERIES==============
==============================*/
@media (min-width: 700px) {
  /* Custom cursor styles */
  .cursor-dot {
    background: var(--text-color);
    height: 5px;
    width: 5px;
    z-index: 2;
  }

  .cursor-outline {
    border: 2px solid var(--text-color);
    height: 30px;
    opacity: 0.5;
    width: 30px;
    z-index: 2;
  }

  .cursor-dot,
  .cursor-outline {
    border-radius: 50%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 800px) {
  /*============================
  GENERAL LAYOUT AND STYLES==
  ==============================*/
  .section__title {
    padding-top: 1em;
  }

  p {
    font-size: 16px;
  }

  /* Font-size for all sections font-size */
  h2 {
    font-size: 2.5rem;
  }

  /*============================
  SPECIFIC LAYOUT AND STYLES=
  ==============================*/
  /* 1- HEADER */
  .header__nav {
    width: 100%;
  }

  .nav__list {
    align-items: center;
    display: flex;
    gap: 1.5em;
    font-size: 0.9rem;
  }

  .nav__item {
    font-size: 0.9rem;
  }

  .nav__item1 {
    margin-top: 0;
  }

  /* 3- HAMBURGER MENU */
  .hamburger-wrapper {
    display: none;
  }

  /* DARKMODE/LIGHTMODE TOGGLE */
  .nav__language,
  .theme-toggle {
    position: static;
    margin-top: 0;
  }

  /* 1- HERO */
  .hero {
    margin-top: 4em;
  }

  .hero__container {
    display: flex;
    gap: 4em;
    justify-content: space-between;
  }

  .hero__title {
    font-size: 3rem;
  }

  .hero__cta {
    font-size: 1.3rem;
  }

  .hero__image {
    align-self: flex-start;
    margin: 0;
    max-width: 600px;
    width: 40%;
  }

  /* 1- ABOUT */
  .about-me__buttons {
    gap: 2.5em;
  }

  /* 1- CONTACT */
  .contact__summary-title {
    font-size: 1.2rem;
  }

  /* 2- CONTACT-SIGNATURE */
  /* 3- CONTACT-LINKS */
  .contact__links {
    display: flex;
    gap: 1.5em;
  }

  .contact__links-image {
    height: 3em;
    width: 3em;
  }
}

@media (min-width: 1100px) {
  /*============================
  GENERAL LAYOUT AND STYLES==
  ==============================*/
  /* Container for all main sections */
  .container {
    margin: 0 auto;
    width: 75%;
  }

  /*============================
  SPECIFIC LAYOUT AND STYLES=
  ==============================*/
  /* 1- HERO */
  .hero__title {
    font-size: 3.5rem;
  }

  /* 1- PROJECTS */
  .projects__title {
    margin-bottom: 3.5em;
  }

  /* PROJECT COMMON STYLES */
  .project {
    flex-direction: row;
    gap: 4em;
    justify-content: space-between;
  }

  .project__title {
    text-align: left;
  }

  /* 3- PROJECT-INFO-2 */
  .project__info2,
  .project__info4 {
    order: 2;
  }
}

@media (min-width: 2000px) {
  /*============================
  GENERAL LAYOUT AND STYLES==
  ==============================*/
  /* Container for all main sections */
  .container {
    margin: 0 auto;
    width: 70%;
  }
  /*============================
  SPECIFIC LAYOUT AND STYLES=
  ==============================*/
}
