@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap");

/*============================
RESETS=====================
==============================*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

/* Smooth scrolling when linkin in the same page */
html {
  scroll-behavior: smooth;
}

/* Better readability for text rendering and line-height*/
body {
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
}

/* Better readability for title line-height  */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

/* Remove default list styling */
ul,
ol {
  list-style: none;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Improved focus styles */
a,
button {
  outline: none;
  border: none;
  color: inherit;
}

/* Links reset */
a {
  text-decoration: none;
}

/* Anything that is intuitive to be clicked, make the cursor pointer */
input[type="checkbox"],
input[type="date"]::-webkit-calendar-picker-indicator,
select,
button {
  cursor: pointer;
}

/*============================
GENERAL LAYOUT AND STYLES==
==============================*/
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--black);
  color: var(--whitesmoke);
  cursor: none;
}

/* Container for all main sections */
.container {
  width: 85%;
  margin: 0 auto;
}

/* .header,
.hero,
.about,
.skills,
.projects,
.contact {
  border: 2px solid blue;
} */

:root {
  /* Hamburger-menu variables */
  --hamburger-wrapper-width: 3em; /* ONLY NEED TO CHANGE WRAPPER HEIGHT AND WIDTH */
  --hamburger-wrapper-height: 3em;
  --icon-width: calc(var(--hamburger-wrapper-width) * 0.6);
  --icon-height: calc(var(--hamburger-wrapper-height) * 0.5);
  --hamburger-icon-span-height: calc(var(--hamburger-wrapper-height) * 0.07);
  --hamburger-icon-span-border-radius: calc(
    var(--hamburger-wrapper-height) * 0.1
  );
  --hamburger-wrapper-span1-translateY: calc(
    var(--hamburger-wrapper-height) * 0.19
  );
  --hamburger-wrapper-span3-bottom: calc(
    var(--hamburger-wrapper-height) * 0.23
  );
  --hamburger-wrapper-border-radius: calc(
    var(--hamburger-wrapper-height) * 0.2
  );

  /* Blue shadow for elements */
  --blue-box-shadow: 0 0 5px var(--cyan), 0 0 10px var(--cyan),
    0 0 20px var(--cyan), 0 0 40px var(--cyan);

  --red-box-shadow: 0 0 2px var(--cyan), 0 0 4px var(--cyan),
    0 0 8px var(--cyan), 0 0 16px var(--cyan);

  /* Colors */
  --whitesmoke: whitesmoke;
  --black: black;
  --cyan: #0ef;

  /* Paddind left and right */
  --padding-left-right: 0;
}

/* Custom cursor styles */
.cursor-dot {
  width: 5px;
  height: 5px;
  background-color: var(--whitesmoke);
  z-index: 2;
}

.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid var(--whitesmoke);
  opacity: 0.5;
  z-index: 2;
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  pointer-events: none;
}

/* Call to action styles */
.cta {
  background-color: var(--black);
  padding: 0.6em 1.3em;
  border-radius: 1em;
  box-shadow: var(--red-box-shadow);
  transition: all 0.3s;
  font-weight: 500;
  font-size: 1.1rem;
}

.cta:hover,
.cta:focus {
  transform: translateY(-5px);
  box-shadow: var(--blue-box-shadow);
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, var(--cyan), var(--black));
  border-radius: 10px;
  border: 2px solid var(--cyan);
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:focus {
  background: linear-gradient(45deg, var(--whitesmoke), var(--black));
}

/* Font-size for all sections font-size */
h2 {
  font-size: 2rem;
}

/* Scroll-watcher */
.scroll-watcher {
  height: 5px;
  background-color: var(--cyan);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  scale: 0 1;
  transform-origin: left;
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

/* Text font-size */
p {
  font-size: 15px;
}

/*============================
SPECIFIC LAYOUT AND STYLES=
==============================*/
/*  1- HEADER  */
.header {
  padding: 1.5em var(--padding-left-right) 3.5em;
}

/* 2- NAV  */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__initials {
  font-size: 2.5rem;
  font-family: "Petit Formal Script", cursive;
  font-weight: bold;
}

/* 3- HAMBURGER MENU */
.hamburger-wrapper {
  width: var(--hamburger-wrapper-width);
  height: var(--hamburger-wrapper-height);
  border-radius: var(--hamburger-wrapper-border-radius);
  cursor: pointer;
  display: flex;
}

.hamburger-icon {
  width: var(--icon-width);
  height: var(--icon-height);
  margin: auto;
  display: flex;
  align-items: center;
  transform: rotate(0);
  transition: all 1s;
  z-index: 2;
}

.hamburger-wrapper.active .hamburger-icon {
  transform: rotate(315deg);
}

.hamburger-icon span {
  position: absolute;
  display: block;
  height: var(--hamburger-icon-span-height);
  background: linear-gradient(45deg, var(--cyan), var(--black));
  border: 2px solid var(--cyan);
  border-radius: var(--hamburger-icon-span-border-radius);
  box-shadow:
    0 0 5px var(--cyan),
    0 0 10px var(--cyan);
  transition: all 0.3s;
  transition-delay: 1s;
}

.hamburger-icon span:nth-child(1) {
  top: 0;
  left: 0;
  width: 50%;
  transform: translateY(0);
}

.hamburger-icon span:nth-child(2) {
  width: 100%;
  transform: scaleX(1);
  opacity: 1;
}

.hamburger-wrapper.active span:nth-child(1) {
  width: 100%;
  transform: translateY(var(--hamburger-wrapper-span1-translateY));
  transition-delay: 0s;
}

.hamburger-wrapper.active span:nth-child(2) {
  transform: scaleX(0);
  opacity: 0;
  transition-delay: 0s;
}

.hamburger-icon span:nth-child(3) {
  bottom: 0;
  right: 0;
  width: 50%;
  transform: rotate(0);
}

.hamburger-wrapper.active span:nth-child(3) {
  bottom: var(--hamburger-wrapper-span3-bottom);
  width: 100%;
  transform: rotate(90deg);
  transition-delay: 0s;
}

/* 3- NAV-LINKS */
.nav__link {
  transition: all 300ms;
  text-transform: uppercase;
  transition: all 0.5s;
  position: relative;
}

.nav__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--whitesmoke);
  border-bottom: 1px solid var(--whitesmoke);
  transform: scaleY(2);
  opacity: 0;
  transition: all 0.5s;
}

.nav__link:hover::before,
.nav__link:focus::before {
  transform: scaleY(1);
  opacity: 1;
}

@keyframes openMenu {
  0% {
    transform: translate(-400px);
    opacity: 0;
  }

  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes closeMenu {
  0% {
    transform: translate(0);
    opacity: 1;
  }

  100% {
    transform: translate(-400px);
    opacity: 0;
  }
}

.nav__list {
  display: none;
  position: relative;
}

.show,
.hide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 20%;
  position: fixed;
  font-size: 1.5rem;
  inset: 0;
  height: 100vh;
  width: 100vw;
  background: var(--black);
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.show {
  animation-name: openMenu;
  z-index: 1;
}

.hide {
  animation-name: closeMenu;
  z-index: -1;
}

/* DARKMODE/LIGHTMODE TOGGLE */
.darkmode-toggle {
  bottom: 15%;
  background-color: rgb(42, 42, 42);
}

.darkmode-toggle,
.nav__language {
  padding: 0.5em;
  font-size: 0.9rem;
  border-radius: 10px;
  position: absolute;
  right: 10%;
  transition: all 0.2s;
}

.darkmode-toggle:hover,
.nav__language:hover,
.darkmode-toggle:focus,
.nav__language:focus {
  scale: 1.2;
}

/* LANGUAGE CHANGE */
.nav__language {
  bottom: 5%;
}

/* 1- HERO SECTION */
.hero {
  padding: 0.5em var(--padding-left-right) 4em;
}

.hero__title {
  font-size: 3rem;
}

.hero__cta {
  margin: 2em 0 4em 0;
}

.hero__image {
  transform: rotateY(-30deg);
  box-shadow: 5px 5px 20px 0px var(--cyan);
}

/* 1- ABOUT */
.about {
  padding: 4em var(--padding-left-right);
}

/* 2- ABOUT ME */
.about-me__story {
  margin: 2em 0em 3em 0em;
}

.about-me__cta {
  padding: 0.4em 1.1em;
  gap: 0.4em;
}

.about-me__buttons {
  display: flex;
  justify-content: space-around;
}

/* 1- SKILLS */
.skills {
  padding: 4em var(--padding-left-right);
}

.skills__title {
  margin-bottom: 1.5em;
}

.skills__grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(7em, 1fr));
  grid-auto-rows: 1fr;
  gap: 1.5em;
}

.skill {
  transition: transform 0.3s ease;
  border: 1px solid var(--whitesmoke);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  counter-increment: section-counter;
}

.skill::after {
  content: counter(section-counter);
  font-size: 0.7rem;
  align-self: flex-end;
  margin-right: 0.4em;
}

.skill:hover,
.skill:focus {
  transform: scale(1.05);
}

.skill__icon {
  height: 4em;
  width: 4em;
  margin: 0 auto;
}

.skill__name {
  margin-top: 0.5em;
  font-size: 1.1rem;
}

/* 1- PROJECTS */
.projects {
  padding: 5em var(--padding-left-right);
  counter-reset: project-counter;
}

.projects__title {
  margin-bottom: 2em;
  position: relative;
}

/* PROJECT COMMON STYLES */
.project {
  margin: 0 auto 9em;
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.project__title {
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
  counter-increment: project-counter;
}

.project__title::before {
  content: counter(project-counter) ". ";
  font-size: 0.95rem;
  margin-right: 0.5em;
}

.project__description {
  margin: 0.5em 0em;
  max-width: 60ch;
}

.project__link {
  text-decoration: underline;
}

.project__link:hover,
.project__link:focus {
  transform: scale(1.05);
}

.project__link::after {
  content: " \2197";
}

/* 3- PROJECT-INFO */
.project__info {
  margin-bottom: 3em;
}

/* 3- PROJECT-IMAGE */
.project__image {
  height: 15em;
  width: 80%;
  background-size: cover;
  position: relative;
  border-radius: 5px;
  margin: auto;
}

.project__image::after {
  content: "";
  height: 15em;
  width: 100%;
  position: absolute;
  border: 10px solid var(--cyan);
  top: 15%;
  right: -15%;
  z-index: -1;
  border-radius: 5px;
}

/* 3- PROJECT-IMAGE-1 */
.project__image1 {
  background-image: url(images/EtchASketch.webp);
  background-position: center;
}

/* 3- PROJECT-IMAGE-2 */
.project__image2 {
  background-image: url(images/TicTacToe.webp);
  background-position: 25%;
}

/* 3- PROJECT-IMAGE-3 */
.project__image3 {
  background-image: url(images/ToDoList.webp);
}

/* 3- PROJECT-IMAGE-4 */
.project__image4 {
  background-image: url(images/Weather-website.webp);
}

/* 1- CONTACT */
.contact {
  padding: 0em var(--padding-left-right) 1em;
  background: linear-gradient(to bottom, black, rgb(0, 38, 38));
}

.contact__title {
  font-family: "Petit Formal Script", cursive;
  font-weight: bold;
}

.contact__summary {
  margin: 2em 0;
  width: 80%;
}

/* 2- CONTACT-LINKS */
.contact__links {
  display: flex;
  gap: 0.5em;
  position: relative;
}

.contact__phone-link::after,
.contact__email-link::after {
  font-size: 0.8em;
  position: absolute;
  padding: 0.5em 1em;
  border-radius: 5px;
  bottom: 100%;
  transform: scale(0);
  transition: all 150ms;
}

.contact__phone-link:hover::after,
.contact__email-link:hover::after,
.contact__phone-link:focus::after,
.contact__email-link:focus::after {
  transform: scale(1);
}

.contact__phone-link::after {
  content: "+1 438-990-8805";
  background-color: rgba(0, 255, 0, 0.1);
}

.contact__email-link::after {
  content: "armangulistani@gmail.com";
  background: rgba(0, 0, 255, 0.1);
}

.contact__image {
  height: 2em;
  width: 2em;
  transition: all 0.3s;
  opacity: 1;
}

.contact__image:hover,
.contact__image:focus {
  opacity: 0.5;
}

.contact__year-name {
  margin-top: 2em;
  padding-top: 1em;
  text-align: center;
  border-top: 1px solid var(--whitesmoke);
}

/*============================
MEDIA QUERIES==============
==============================*/

/*============================
GENERAL LAYOUT AND STYLES==
==============================*/

/*============================
SPECIFIC LAYOUT AND STYLES=
==============================*/
